@model IEnumerable<Tennisclub.Models.EmployeeLogin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoginID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoginID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoginID })
        </td>
    </tr>
}

</table>
