@model Tennisclub.Models.Lesson

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">Lesson's Detail</h1>
    </div>

    <div>
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LessonName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LessonDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LessonDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LessonID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>